.course-details {
  header {
    background-color: $aux-dark-color;
    color: white;
    padding: $screen-margin;
    h1 {
      font-weight: 100;
      font-size: 40px;
    }
  }
  &__header__content {
    float: left;
    margin-top: -10px;
  }
  &__front-img {
    float: left;
    max-width: 300px;
    min-height: 198px;
    margin-right: 10px;
  }
  main {
    padding: $screen-margin;
  }
  &__infos {
    font-size: 14px;
  }
  &__related {
    padding: $screen-margin;
    color: white;
    background-color: $main-color;
    a {
      color: white;
    }
  }
  &__teacher {
    &__img {
      float: left;
      width: 150px;
      height: 150px;
      margin-right: 10px;
      object-fit: cover;
    }
    &__bio {
      float: left;
      width: calc(100% - 210px);
    }
    h3 {
      font-size: 20px;
    }
  }
}