$forum-nav-width: 250px;
$forum-nav-item-horz-padding: 10px;
$form-post-header-width: 200px;

#forum {
  background-size: $forum-nav-width;
  background-repeat: repeat-y;
  background-image: linear-gradient($aux-dark-color 100%, $aux-dark-color 100%);
  min-height: 100vh;
}


#forum__nav {
  float: left;
  width: $forum-nav-width;
  color: white;
  padding: 15px 0;

  ul {
    padding: 0;
  }

  a {
    padding: 2px $forum-nav-item-horz-padding;
    color: $aux-light-color-2;
    display: block;
    text-decoration: none;

    &:hover {
      background-color: $main-color;
      color: white;
    }

  }

}

#forum__content {
  float: left;
  padding: 15px;
  width: calc(100% - #{$forum-nav-width});

  h1 {
    font-size: 30px;
    font-weight: 100;
    border-bottom: solid 1px black;
  }

  h2 {
    font-size: 20px;
    font-weight: bolder;
  }

  h4 {
    font-size: 16px; 
    color: gray;
    margin-bottom: 2px;
  }
}

.forum__course-name {
  font-size: 16px;
  margin-bottom: 20px;
  color: gray;
}

.forum__nav__label {
  padding: 2px $forum-nav-item-horz-padding;
  font-weight: bolder;
}

.forum__nav__off-link {
  padding: 2px $forum-nav-item-horz-padding;
}

.forum__post {

  padding: 10px 0;
  
  &:nth-child(2n) {
     background-color: #f7f7f7;
  }

  &--response {
    .forum__post__user-photo {
      max-height: 150px;
    }
  }

  &__header {
    width: $form-post-header-width;
    padding-right: 20px;
    text-align: center;
    float: left;
  }

  &__user-name {
    font-size: 16px;
    font-weight: bolder;
    display: block;
  } 

  &__user-photo {
    max-width: 100%;
  }

  &__user-statistics {
    width: 90%;
    margin: 5px 5%;

    td:first-of-type {
      text-align: left;
    }

    td:last-of-type {
      text-align: right;
    }

  }

  &__content {
    float: left;
    width: calc(100% - #{$form-post-header-width});
  }

  &__meta {
    font-size: 12px;
    margin-bottom: 10px;
    color: gray;
    font-weight: bolder;
  }

}