.luno-top-banner {
  background-size: cover;
  background-position: center;
  border-bottom: solid 20px $aux-dark-color;
}

.luno-top-banner__content {
  height: 240px;
  background-color: rgba(0,0,0,0.5);
}