.btn {
  border-radius: 0;
}

.form-control {
  border-radius: 0;
}

.control-label {
  font-weight: bolder;
}

.classroom-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.classroom-box {
  float: left;
  width: 20%;
  padding: 15px;
  text-align: center;
}

.classroom-box__featured-img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-bottom: 10px;
}

.classroom-box__title {
  font-size: 20px;
}

.classroom-box__info {
  display: block;
}

.classroom-box__actions {
  margin-top: 10px;
}

.luno-top-banner {
  background-size: cover;
  background-position: center;
  border-bottom: solid 20px #013243;
}

.luno-top-banner__content {
  height: 240px;
  background-color: rgba(0, 0, 0, 0.5);
}

#topbar {
  background-color: #446CB3;
  padding: 5px;
}

#topbar__logo {
  color: white;
  font-weight: bolder;
  float: left;
  font-size: 12px;
  background-color: #013243;
  padding: 7px 12px;
  border-radius: 50%;
}

#topbar__form {
  float: left;
  margin-left: 5px;
}

#topbar__form .form-control {
  width: 600px;
  height: 30px;
  font-size: 14px;
}

#topbar__form .btn.btn-primary {
  height: 30px;
  font-size: 14px;
  padding-top: 0;
  padding-bottom: 0;
}

#topbar__nav {
  float: right;
}

#topbar__nav ul {
  margin: 0;
}

#topbar__nav ul li {
  display: inline-block;
}

#topbar__nav ul li a {
  display: block;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
}

#topbar__nav .dropdown-menu a {
  color: black;
}

#topbar__nav .dropdown-menu a:active {
  color: white;
}

#mainfooter {
  background-color: #013243;
  color: white;
  text-align: center;
  font-weight: 100;
  padding: 10px;
}

#homebanner {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-image: url(/img/frontpage.jpg);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(/img/frontpage.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/img/frontpage.jpg);
  padding: 60px 40px;
}

#homebanner__line1 {
  font-weight: bolder;
  font-size: 80px;
  color: white;
  display: block;
  text-shadow: 0px 0px 2px black;
  line-height: 60px;
}

#homebanner__line2 {
  font-weight: 100;
  font-size: 40px;
  color: white;
  display: block;
  text-shadow: 0px 0px 2px black;
}

#homefeatured {
  background-color: #446CB3;
  color: white;
  padding: 20px 40px;
  position: relative;
}

#homefeatured h1 {
  font-weight: bolder;
  font-size: 45px;
}

#homefeatured ul {
  padding: 0;
  float: left;
  width: 50%;
}

#homefeatured li {
  font-size: 20px;
  padding: 5px 0;
  font-weight: 100;
  list-style: none;
}

#classrooms {
  padding: 20px;
}

#classrooms h1 {
  font-weight: bolder;
}

.course-details header {
  background-color: #013243;
  color: white;
  padding: 20px;
}

.course-details header h1 {
  font-weight: 100;
  font-size: 40px;
}

.course-details__header__content {
  float: left;
  margin-top: -10px;
}

.course-details__front-img {
  float: left;
  max-width: 300px;
  min-height: 198px;
  margin-right: 10px;
}

.course-details main {
  padding: 20px;
}

.course-details__infos {
  font-size: 14px;
}

.course-details__related {
  padding: 20px;
  color: white;
  background-color: #446CB3;
}

.course-details__related a {
  color: white;
}

.course-details__teacher__img {
  float: left;
  width: 150px;
  height: 150px;
  margin-right: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.course-details__teacher__bio {
  float: left;
  width: calc(100% - 210px);
}

.course-details__teacher h3 {
  font-size: 20px;
}

#forum {
  background-size: 250px;
  background-repeat: repeat-y;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #013243), to(#013243));
  background-image: linear-gradient(#013243 100%, #013243 100%);
  min-height: 100vh;
}

#forum__nav {
  float: left;
  width: 250px;
  color: white;
  padding: 15px 0;
}

#forum__nav ul {
  padding: 0;
}

#forum__nav a {
  padding: 2px 10px;
  color: #7abaff;
  display: block;
  text-decoration: none;
}

#forum__nav a:hover {
  background-color: #446CB3;
  color: white;
}

#forum__content {
  float: left;
  padding: 15px;
  width: calc(100% - 250px);
}

#forum__content h1 {
  font-size: 30px;
  font-weight: 100;
  border-bottom: solid 1px black;
}

#forum__content h2 {
  font-size: 20px;
  font-weight: bolder;
}

#forum__content h4 {
  font-size: 16px;
  color: gray;
  margin-bottom: 2px;
}

.forum__course-name {
  font-size: 16px;
  margin-bottom: 20px;
  color: gray;
}

.forum__nav__label {
  padding: 2px 10px;
  font-weight: bolder;
}

.forum__post {
  padding: 10px 0;
}

.forum__post:nth-child(2n) {
  background-color: #f7f7f7;
}

.forum__post--response .forum__post__user-photo {
  max-height: 150px;
}

.forum__post pre {
  font-size: 16px;
  font-family: inherit;
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

.forum__post__header {
  width: 200px;
  padding-right: 20px;
  text-align: center;
  float: left;
}

.forum__post__user-name {
  font-size: 16px;
  font-weight: bolder;
  display: block;
}

.forum__post__user-photo {
  max-width: 100%;
}

.forum__post__user-statistics {
  width: 90%;
  margin: 5px 5%;
}

.forum__post__user-statistics td:first-of-type {
  text-align: left;
}

.forum__post__user-statistics td:last-of-type {
  text-align: right;
}

.forum__post__content {
  float: left;
  width: calc(100% - 200px);
}

.forum__post__meta {
  font-size: 12px;
  margin-bottom: 10px;
  color: gray;
  font-weight: bolder;
}

#profilepanel {
  padding: 40px;
}

#profilepanel__user-name {
  font-size: 18px;
  text-align: center;
  padding: 10px 0;
  margin: 0;
}

#profilepanel__side-nav ul {
  margin: 0;
  padding: 0;
}

#profilepanel__side-nav li {
  list-style: none;
}

#profilepanel__side-nav li + li {
  border-top: solid 1px lightgray;
}

#profilepanel__side-nav a {
  padding: 10px 5px;
  display: block;
  color: #000;
  text-decoration: none;
}

#profilepanel__side-nav a:hover {
  background-color: ghostwhite;
}

.profilepanel__title {
  font-size: 24px;
  margin-bottom: 10px;
}

.luno-top-banner-new-course {
  background-image: url(/img/criar-curso-banner.jpg);
}

.luno-top-banner-new-classroom {
  background-image: url(/img/new-classroom-banner.jpg);
}

#loginpanel {
  padding: 60px 40px;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.luno-title {
  text-align: center;
  margin: 0 auto 20px auto;
  font-size: 30px;
  border-bottom: solid 1px black;
  padding-bottom: 5px;
}

.luno-content {
  padding: 20px;
  min-height: calc(100vh - 85px);
}

.luno-title-buttons-holder {
  position: relative;
}

.luno-title-buttons {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 12px;
}

a {
  color: #007bff;
}

