@import 'global/variables';
@import 'global/buttons';
@import 'global/forms';

@import 'components/classroom-list';
@import 'components/top-banner';

@import 'pages/layout';
@import 'pages/homepage';
@import 'pages/course';
@import 'pages/forum';
@import 'pages/profile';
@import 'pages/new-course';
@import 'pages/new-classroom';
@import 'pages/login-page';
@import 'pages/edit-profile';

body {
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.luno-title {
  text-align: center;
  margin: 0 auto 20px auto;
  font-size: 30px;
  border-bottom: solid 1px black;
  padding-bottom: 5px;
}

.luno-content {
  padding: $screen-margin;
  min-height: calc(100vh - 85px);
}

.luno-title-buttons-holder {
  position: relative;
}

.luno-title-buttons {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
}

a {
    color: $aux-light-color;
}